{
	"extension": [
		".ts",
		".tsx"
	],
	"include": [
		"src/**/*.ts"
	],
	"exclude": [
		"**/*.d.ts"
	],
	"require": [
		"ts-node/register"
	],
	"reporter": [
		"html"
	],
	"all": true,
	"cache": true
}